body {
    font-family: 'DS Greece';
    // font-family: 'Gotham';
    background: #f2e7d5;
}
.body-wrapper {
    overflow-x: hidden;
}
.container {
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}
