.disciplines {
    padding-top: 75px;
    padding-bottom: 338px;
    background: #f2e7d5;
    overflow: hidden;
    &-title {
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
        text-align: center;
        color: #393e46;
        margin-bottom: 30px;
        &--mobile {
            display: none;
        }
    }
    &-blocks {
        display: grid;
        grid-template-columns: repeat(3, 224px);
        grid-column-gap: 114px;
        width: fit-content;
        margin: 0 auto;
    }
    &-block {
        position: relative;
        &__title {
            font-weight: 400;
            font-size: 40px;
            line-height: 100%;
            text-align: center;
            color: #6d9886;
            margin-bottom: 10px;
        }
        &__text {
            font-family: 'Gotham';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #393e46;
        }
        &__img {
            position: absolute;
            left: -173px;
            top: 171px;
        }
    }
}
